* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BOX {
    margin: 1vw;
    padding: 1vw;
    width: 50vw;
    background-color: #FFF; /* Rosa mais intenso */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.BOX header {
    padding: 1vw;
    margin: 1vw;
    display: flex;
    background-color: #FFF; /* Rosa mais suave */
    justify-content: center;
}

.BOX header h1 {
    font-size: 3vw;
    color: pink;
    text-shadow: -1px 0px 0.5px rgba(0, 0, 0);
}

.BOX .section {
    display: flex;
    flex-direction: column; /* Change to vertical layout for mobile */
    margin: 1vw;
    background-color: #FFF; /* Rosa mais suave */
    justify-content: center;
    align-items: center;
}

.BOX .section .coracao {
    display: flex;
    padding: 1vw;
    margin: 1vw;
    width: 40vw;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: -1px 0px 0.5px rgba(0, 0, 0);

}

.BOX .section .coracao img {
    width: 100%;
    max-width: 20vw;
    overflow: hidden;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.BOX .section .coracao h1 {
    font-size: 2.5vw;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BOX .Quests {
    display: flex;
    margin: 1vw;
    padding: 1vw;
    background-color: #FFF; /* Rosa mais suave */
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.BOX .footer {
    display: flex;
    margin: 1vw;
    padding: 1vw;
    background-color: #FFF; /* Rosa mais suave */
    justify-content: center;
    align-items: center;
}

.BOX .footer .bts {
    padding: 0.5vw;
    background-color: #FFF; /* Rosa mais intenso */
}

#Start {
    position: absolute;
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    min-width: 10vw;
    margin: 0.5vw;
    color: black;
    border: none;
    background-color: #FFF; /* Rosa mais suave */
    cursor: pointer;
}

.BOX .footer .bts button {
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    min-width: 10vw;
    margin: 0.5vw;
    color: black;
    border: none;
    background-color: #FFF; /* Rosa mais suave */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 600px) {
    .BOX {
        width: 90vw;
    }

    .BOX header h1 {
        font-size: 5vw;
    }
    
    .BOX .section .coracao {
        width: 70vw;
    }

    .BOX .section .coracao h1 {
        font-size: 4vw;
    }

    .BOX .Quests {
        font-size: 1.1vw;
        padding: 1vw 2vw;
        min-width: 15vw;
    }

    .BOX .footer .bts button {
        font-size: 3vw;
        padding: 1vw 2vw;
        min-width: 15vw;
    }
}

/* Tablet View */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .BOX {
        width: 70vw;
    }

    .BOX header h1 {
        font-size: 3vw;
    }
    
    .BOX .section .coracao {
        width: 50vw;
    }
    

    .BOX .section .coracao h1 {
        font-size: 3vw;
    }

    .BOX .Quests {
        font-size: 1.1vw;
        padding: 0.5vw 1vw;
        min-width: 8vw;
    }

    .BOX .footer .bts button {
        font-size: 1.8vw;
        padding: 0.5vw 1vw;
        min-width: 8vw;
    }
}
